/*------------------- **产品化新增** --------------------*/

/*页面*/
body{	
color: #4a4a4a;
margin: opx auto;
scrollbar-face-color:#ffffff;
scrollbar-shadow-color: #c8c8c8;
scrollbar-highlight-color: #c8c8c8;
scrollbar-3dlight-color:#ffffff;
scrollbar-darkshadow-color:#ffffff;
scrollbar-track-color:#ffffff;
scrollbar-arrow-color: #707070;
font:"微软雅黑", "宋体", "Tahoma",;
}
/*页面-撑满*/
.body_fit{  
margin:0 auto;padding-top:10px;border:0;width:98%;height:97%;overflow:visible;	
color: #4a4a4a;
scrollbar-face-color:#ffffff;
scrollbar-shadow-color: #c8c8c8;
scrollbar-highlight-color: #c8c8c8;
scrollbar-3dlight-color:#ffffff;
scrollbar-darkshadow-color:#ffffff;
scrollbar-track-color:#ffffff;
scrollbar-arrow-color: #707070;
font:"微软雅黑", "宋体", "Tahoma",;
}

/*框架分隔条-右侧*/
.body_main{
background-image: url(../scripts/sui/themes/yypt_default/images/default_pic/main_04.jpg);
background-repeat: repeat-y;
background-attachment: fixed;
margin:0 auto;padding-top:10px;border:0;width:98%;height:97%;overflow:auto;	
color: #4a4a4a;
scrollbar-face-color:#ffffff;
scrollbar-shadow-color: #c8c8c8;
scrollbar-highlight-color: #c8c8c8;
scrollbar-3dlight-color:#ffffff;
scrollbar-darkshadow-color:#ffffff;
scrollbar-track-color:#ffffff;
scrollbar-arrow-color: #646464;
font:"微软雅黑", "宋体", "Tahoma",;
}
/*链接-橙色*/
.link_1 a:link{color:#FF6600;text-decoration:none;}
.link_1 a:visited{color:#FF6600;text-decoration:none;}
.link_1 a:hover{color:#FF6600;text-decoration:underline;}

/*链接-橙色-有下划线*/
.link_1b a:link{color:#FF6600;text-decoration:underline;}
.link_1b a:visited{color:#FF6600;text-decoration:underline;}
.link_1b a:hover{color:#FF6600;text-decoration:underline;}


/*链接-蓝色*/
.link_2 a:link{color:#3084e4;text-decoration:underline;}
.link_2 a:visited{color:#3084e4;text-decoration:underline;}
.link_2 a:hover{color:#3084e4;text-decoration:underline;}

/*链接-蓝色-无下划线*/
.link_2b a:link{color:#3084e4;text-decoration:none;}
.link_2b a:visited{color:#3084e4;text-decoration:none;}
.link_2b a:hover{color:#3084e4;text-decoration:underline;}

/*载入提示*/
.loading{  
    width:100%; 
	height:100%; 
	left:0px;
	top:0px; 
	position:absolute; 
	background:url(../scripts/sui/themes/yypt_default/images/default_pic/bg_white.png) repeat; 
	z-index:99;
}

/*提示位置-黑字-12px*/
.place_text{
	font-size: 12px;
	color: #323232;	
	text-align: left;
	white-space: nowrap;
	line-height: 28px;
    height: 28px;
	background-color:#bce9fe;
    text-indent: 5px;
	margin:0px;
}

/*树-搜索条*/
.mini-tree_search{
	font-size: 12px;	
	color: #4a4a4a;
	text-align: left;
	line-height: 28px;
	height:28px;
	white-space: nowrap;
	background-color: #d7f3ff;
	text-indent: 10px;
	margin:0px;
} 
/*树-搜索条*/
.mini-tree_bg{
	font-size: 12px;	
	color: #4a4a4a;
	background-color: #f5f5f5;
} 

/*查询表格*/
.mini-search
{
	background-color: #ffffff;
	font-size: 12px;
	color: #4a4a4a;
	text-align: left;
	line-height: 24px;
}

/*查询表格-标题行淡蓝*/
.mini-search tr th
{
	background-color: #bce9fe;	
	color:#4a4a4a;
	white-space: nowrap;
	font-weight:normal;
	font-size: 12px;
}

/*查询表格-行淡灰*/
.mini-search tr
{
	background-color: #f5f5f5;
}


/*列表*/
.mini-list
{
	background-color: #f5f5f5;
}

/*编辑表格*/
.mini-edit
{
	background-color: #ffffff;
	font-size: 12px;
	color: #4a4a4a;
	text-align: left;
	line-height: 28px;
}
/*编辑表格-标题行淡蓝*/
.mini-edit tr th
{
	background-color: #d7f3ff;
	white-space: nowrap;
	text-indent: 15px;
	font-weight:normal;
	font-size: 12px;
}
/*编辑表格-行淡灰*/
.mini-edit tr
{
	background-color: #f5f5f5;
}

/*编辑表格-文字居中-背景淡灰*/
.mini-edit_2
{
	background-color: #dcdcdc;
	font-size: 12px;
	color: #707070;
	text-align: center;
	line-height: 28px;
}
/*编辑表格-标题行-字体深灰--加边距*/
.mini-edit_2 tr th
{
	color: #4a4a4a;
	padding: 0px 5px;
}
/*编辑表格-行淡灰-加边距*/
.mini-edit_2 tr td
{
	padding: 0px 5px;
	background-color: #fcfcfc;
}

/*编辑表格-弹出窗*/
.mini-edit_pop
{
	background-color: #ffffff;
	font-size: 12px;
	color: #4a4a4a;
	text-align: left;
	line-height: 28px;
}
/*编辑表格-弹出窗-标题行淡蓝*/
.mini-edit_pop tr th
{
	background-color: #d7f3ff;
	white-space: nowrap;
	text-indent: 15px;
	font-weight:normal;
	font-size: 12px;
}
/*编辑表格-弹出窗-行淡灰*/
.mini-edit_pop tr
{
	background-color: #f5f5f5;
}

/*编辑表格-书签页*/
.mini-edit_tabs
{
	background-color: #f5f5f5;
}

/*标题-淡蓝色*/
.mini-title{
	font-size: 12px;	
	color: #4a4a4a;
	text-align: left;
	line-height: 28px;
	height:28px;
	white-space: nowrap;
	background-color: #d7f3ff;
	text-indent:15px;
}
/*标题-淡蓝色-无缩进*/
.mini-title_other{
	font-size: 12px;	
	color: #4a4a4a;
	text-align: left;
	line-height: 28px;
	height:28px;
	white-space: nowrap;
	background-color: #d7f3ff;
}
/*标题-蓝色*/
.mini-title_2{
	font-size: 12px;	
	color: #4a4a4a;
	text-align: left;
	line-height: 28px;
	height:28px;
	white-space: nowrap;
	background-color:#bce9fe;
	text-indent: 15px;
}

/*标题-蓝色-无缩进*/
.mini-title_2_other{
	font-size: 12px;	
	color: #4a4a4a;
	text-align: left;
	line-height: 28px;
	height:28px;
	white-space: nowrap;
	background-color:#bce9fe;
}

/*标题-带数字*/
.mini-title_no1{
	font-size: 12px;
	color: #3084e4;
	text-align: left;
	line-height: 28px;
	white-space: nowrap;
	background-image: url(../scripts/sui/themes/yypt_default/images/default_pic/icon_No_01.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:0px 15px;
} 
/*标题-带数字*/
.mini-title_no2{
	font-size: 12px;
	color: #3084e4;;
	text-align: left;
	line-height: 28px;
	white-space: nowrap;
	text-indent: 35px;
	background-image: url(../scripts/sui/themes/yypt_default/images/default_pic/icon_No_02.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:0px 15px;
} 
/*标题-带数字*/
.mini-title_no3{
	font-size: 12px;
	color: #3084e4;
	text-align: left;
	line-height: 28px;
	white-space: nowrap;
	text-indent:35px;
	background-image: url(../scripts/sui/themes/yypt_default/images/default_pic/icon_No_03.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:0px 15px;
} 
/*标题-带数字*/
.mini-title_no4{
	font-size: 12px;
	color: #3084e4;
	text-align: left;
	line-height: 28px;
	white-space: nowrap;
	text-indent: 35px;
	background-image: url(../scripts/sui/themes/yypt_default/images/default_pic/icon_No_04.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:0px 15px;
} 

/*标题-无色*/
.mini-title_3{
	font-size: 12px;	
	color: #4a4a4a;
	text-decoration: none;
	text-align: left;
	line-height: 28px;
	white-space: nowrap;
	margin: 0px;
	text-indent: 15px;
	letter-spacing: 1px;
}

/*项目-宽自定义*/
.mini-item{
    font-size: 12px;	
	color: #4a4a4a;
    text-align: right;
    white-space: nowrap;
    padding:2px 2px 2px 10px;
}

/*项目-查询专用*/
.mini-item_search{
    font-size: 12px;	
	color: #4a4a4a;
    text-align: left;
    white-space: nowrap;
    padding:2px 2px 2px 5px;
}

/*内容-宽宽自定义*/
.mini-content{
    font-size: 12px;	
	color: #707070;
    text-align: left;
	padding-left:2px;
}


/*内容-查询专用*/
.mini-content_search{
    font-size: 12px;	
	color:#707070;
    text-align: left;
	padding-left:5px;
}

/*必输项*/
.mustinput{
    font-size: 12px;
    color: #CC0000;
    font-weight: normal;
	padding:2px 2px 2px 10px;
}

/*备注*/
.explain{
    font-size: 12px;
    color:#FF6600;
	line-height: 18px;
}

/*分隔线-淡蓝色*/
.line_1{
    border-bottom:solid 1px #d7f3ff; 
	height: 1px;
} 

/*字体颜色-红色*/
.font_red{color: #FF0000;}

/*字体颜色-橙色*/
.font_orange{color: #FF9900;}

/*字体颜色-绿色*/
.font_green{color: #339900;}

/*字体颜色-蓝色*/
.font_blue{color:#3084e4;}

/*字体颜色-淡灰色*/
.font_gray{color: #666666;}


/*字体-居左*/
.font_left{ text-align:left;}
/*字体-居右*/
.font_right{ text-align:right;}

/*字体-居中*/
.font_center { text-align:center;}


/*查询按钮-自加图片*/
.button_search{
	background-image: url(../scripts/sui/themes/yypt_default/images/default_pic/icon_search.png);
	background-repeat: no-repeat;
	border: none;
	height: 18px;
	width: 18px;
	background-position: center bottom;
	background-color: transparent;
	cursor: pointer;
}
/*表单-宽40-透明背景-防骚扰设置专用*/
.input_no{
	width:40px;
	font-size:12px;
	color:red;
	text-align:center;
	border:none;
	background-color: transparent;
	cursor:default;
	    }
/*------------------- **产品化新增**over --------------------*/